<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="events">
    <col />
    <col class="contents" />
    <tr class="field">
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :organizer %></th>
      <td><%= f.label @event.organizer.name %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :date_on %></th>
      <td><%= select_year @event.date_on, :prefix => 'event',
                                      :field_name => 'date_on(1i)',
                                      :start_year => Time.now.year - 1, :end_year => Time.now.year + 2 %>年
          <%= select_month @event.date_on, :prefix => 'event', :use_month_numbers => true,
                                       :field_name => 'date_on(2i)' %>月
          <%= select_day @event.date_on, :prefix => 'event', :field_name => 'date_on(3i)' %>日
      </td>
    </tr>
    <tr class="field">
      <th><%= f.label :place %></th>
      <td><%= f.text_field :place %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :contents %></th>
      <td><%= f.text_area :contents %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
