<%= render 'shared/navigation' %>
<h1><%= t('events.listing', :scope => [:views]) %></h1>

<table class="events">
  <col class="name" />
  <col class="organizer" />
  <col class="date_on" />
  <col class="place" />
  <col class="contents" />
  <col class="count" />
  <col class="commands" span="3" />
  <tr>
    <th><%= t('event.name', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('event.organizer', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('event.date_on', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('event.place', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('event.contents', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('event.entries.count', :scope => [:activerecord, :attributes]) %></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.name %></td>
    <td><%= event.organizer.name %></td>
    <td><%= event.date_on.strftime('%Y年%m月%d日') %></td>
    <td><%= event.place %></td>
    <td><%= event.contents %></td>
    <td align="right"><%= number_with_delimiter(event.entries.count) %></td>
    <td><%= link_to t(:show, :default => 'Show', :scope => [:views, :global]), event %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('members.listing', :scope => [:views]), members_path %>
