<h1><%= t('event_info', :scope => [:views, :global]) %></h1>
<p id="notice"><%= notice %></p>

<%= render 'table' %>
<br />
<%= link_to t('back', :scope => [:views, :global]), events_path %> |
<%= link_to t('events.join', :scope => [:views]), join_event_path(@event) %>

<hr />
<h2><%= t('events.members', :scope => [:views]) %></h2>
<table class="members">
  <col class="contents" span="2" />
  <col class="commands" />
  <tr>
    <th><%= t(:name, :scope => [:activerecord, :attributes, :member]) %></th>
    <th><%= t(:twitter_id, :scope => [:activerecord, :attributes, :member]) %></th>
    <th><%= t(:commands, :scope => [:views, :global]) %></th>
  </tr>
  <% @event.entries.each do |entry| %>
  <tr>
    <td><%= entry.member.name %></td>
    <td><%= entry.member.twitter_id %></td>
    <td><%= link_to t('show', :scope => [:views, :global]), member_path(entry.member) %></td>
  </tr>
  <% end %>
</table>

