<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="members">
    <col />
    <col class="contents" />
    <tr class="field">
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :address %></th>
      <td><%= f.text_field :address %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :email %></th>
      <td><%= f.email_field :email %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :twitter_id %></th>
      <td><%= @member.twitter_id %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :blog_url %></th>
      <td><%= f.url_field :blog_url %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :birthday %></th>
      <td><%= select_year @member.birthday, :prefix => 'member',
                                            :field_name => 'birthday(1i)',
                                            :start_year => Time.now.year - 50, :end_year => Time.now.year %>年
          <%= select_month @member.birthday, :prefix => 'member', :use_month_numbers => true,
                                       :field_name => 'birthday(2i)' %>月
          <%= select_day @member.birthday, :prefix => 'member', :field_name => 'birthday(3i)' %>日
      </td>
    </tr>
    <tr class="field">
      <th><%= f.label :profile %></th>
      <td><%= f.text_area :profile %></td>
    </tr>
  </table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
