<%= render 'shared/navigation' %>
<h1><%= t('members.listing', :scope => [:views]) %></h1>

<table class="members">
  <col class="name" />
  <col class="email" />
  <col class="twitter_id" />
  <col class="blog_url" />
  <col class="commands" />
  <tr>
    <th><%= t(:name, :default => "Name", :scope => [:activerecord, :attributes, :member]) %></th>
    <th><%= t(:email, :default => "Email", :scope => [:activerecord, :attributes, :member]) %></th>
    <th><%= t(:twitter_id, :default => "Twitter ID", :scope => [:activerecord, :attributes, :member]) %></th>
    <th><%= t(:blog_url, :default => "Blog URL", :scope => [:activerecord, :attributes, :member]) %></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr class="member">
    <td><%= member.name %></td>
    <td><%= member.email %></td>
    <td><%= member.twitter_id %></td>
    <td><%= member.blog_url %></td>
    <td><%= link_to t('show', :scope => [:views, :global]), member_path(member) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to t('events.listing', :scope => [:views]), events_path %>
