<h1><%= t('profile', :scope => [:views]) %></h1>
<p id="notice"><%= notice %></p>

<table class="members">
  <col />
  <col class="contents" />
  <tr>
    <th><%= t('member.name', :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th><%= t('member.address', :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.address %></td>
  </tr>
  <tr>
    <th><%= t('member.email', :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th><%= t('member.twitter_id', :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.twitter_id %></td>
  </tr>
  <tr>
    <th><%= t('member.blog_url',  :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.blog_url %></td>
  </tr>
  <tr>
    <th><%= t('member.birthday',  :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.birthday.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th><%= t('member.profile',  :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.profile %></td>
  </tr>
</table>


<%= link_to t('back', :scope => [:views, :global]), events_path %>
<%= link_to t('edit', :scope => [:views, :global]), edit_member_path(@member) %> |
<%= link_to t('member.events', :scope => [:activerecord, :attributes]), events_member_path(@member) %>
<br />
<%= button_to t(:leave, :scope => [:views, :global]), current_member,
         :confirm => t(:sure?, :default => 'Are you sure?', :scope => [:views, :global]),
         :method => :delete %>

<hr />
<h2><%= t('member.entries', :scope => [:activerecord, :attributes]) %></h2>
<table class="events">
  <col class="name" />
  <col class="date_on" />
  <col class="place" />
  <col class="contents" />
  <col class="commands" span="2" />
  <tr>
    <th><%= t('event.name', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('event.date_on', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('event.place', :scope => [:activerecord, :attributes]) %></th>
    <th><%= t('event.contents', :scope => [:activerecord, :attributes]) %></th>
    <th colspan="2"></th>

  </tr>
  <% @member.entries.each do |entry| %>
  <tr>
    <td><%= entry.event.name %></td>
    <td><%= entry.event.date_on.strftime('%Y年%m月%d日') %></td>
    <td><%= entry.event.place %></td>
    <td><%= entry.event.contents %></td>
    <td><%= link_to t('show', :scope => [:views, :global]), event_path(entry.event) %></td>
    <td><%= link_to t('cancel', :scope => [:views, :global]), cancel_event_path(entry.event),
                    :confirm => t(:"cancel?", :scope => [:views, :global]),
                    :method => :put %></td>
  </tr>
  <% end %>
</table>



