<p id="notice"><%= notice %></p>

<div align="right">
<%= button_to t(:destroy, :scope => [:views, :global]), current_member,
              :confirm => t(:sure?, :default => 'Are you sure?', :scope => [:views, :global]),
              :method => :delete %>
</div>
<% @member = current_member %>
<table class="members">
  <col />
  <col class="contents" />
  <tr>
    <th><%= t('member.name', :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.name %></td>
  </tr>
  <tr>
    <th><%= t('member.address', :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.address %></td>
  </tr>
  <tr>
    <th><%= t('member.email', :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th><%= t('member.twitter_id', :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.twitter_id %></td>
  </tr>
  <tr>
    <th><%= t('member.blog_url',  :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.blog_url %></td>
  </tr>
  <tr>
    <th><%= t('member.birthday',  :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.birthday.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <th><%= t('member.profile',  :scope => [:activerecord, :attributes]) %></th>
    <td><%= @member.profile %></td>
  </tr>
</table>


<%= link_to t('edit', :scope => [:views, :global]), edit_member_path(@member) %> |
<%= link_to t('back', :scope => [:views, :global]), members_path %>
